@model IEnumerable<UMovies.Web.Models.MovieViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>All Movies (@Model.Count())</h2>

<table class="table table-striped">
    <tr>
        <th>@Html.DisplayNameFor(modelItem => modelItem.Year)</th>
        <th>@Html.DisplayNameFor(modelItem => modelItem.Name)</th>
    </tr>
    @foreach (var movie in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => movie.Year)
            </td>
            <td>
                <p>@Html.ActionLink(movie.Name, "Show", "Home", new { id = movie.Id }, null)</p>
            </td>
        </tr>
    }
</table>