@model UMovies.Web.Models.SearchViewModel

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.SearchText, new { htmlAttributes = new { @class = "form-control", placeholder = "Search Title", id = "searchTextBox" } })
                @Html.ValidationMessageFor(model => model.SearchText, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Search" class="btn btn-primary" />
                </div>
            </div>*@

        <p>Searching over @Model.MediaCount media files</p>
    </div>
}

@if (Model.ResultCount > 0)
{
    <h3>@Model.ResultCount Results for '@Model.SearchText'</h3>

    foreach (var movie in Model.Movies)
    {
        <p><a href="javascript:playMovie('@movie.MovieFolder', '@movie.MovieFile')">@movie.Name</a></p>
    }
}

@section scripts
{
    document.getElementById("searchTextBox").focus();
}