@model UMovies.Web.Models.SearchViewModel

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.SearchText, new { htmlAttributes = new { @class = "form-control", placeholder = "Search Title", id = "searchTextBox" } })
                @Html.ValidationMessageFor(model => model.SearchText, "", new { @class = "text-danger" })
            </div>
        </div>

        <p>Searching over @Model.MediaCount media files</p>
    </div>
}

@if (Model.ResultCount > 0)
{
    <h3>@Model.ResultCount Results for '@Model.SearchText'</h3>

    foreach (var movie in Model.Movies)
    {
        <p>@Html.ActionLink(movie.Name, "Show", "Home", new { id = movie.Id }, null)</p>
    }
}

@section scripts
{
    document.getElementById("searchTextBox").focus();
}