@using System.Configuration
@model UMovies.Web.Models.MovieViewModel

@{
    ViewBag.Title = "Show";
}

<h2>@Model.Name (@Model.Year)</h2>

@if (Model.MovieFiles.Count() == 1)
{
    <input type="button" value="Play Movie" onclick="javascript:playMovie('@Model.MovieFolder', '@Model.MovieFiles.FirstOrDefault()')" />
}
else
{
    <input type="button" value="Play All Files (@Model.MovieFiles.Count())" onclick="javascript:playAllMovieFiles(@Model.Id)" />
}
<br />
<br />

@{
    var picturesUrl = ConfigurationManager.AppSettings["PicturesUrl"];
}

<table>
    <tr>
        <td>
            <picture>
                <source src="@picturesUrl/@Model.MovieFolder/@Model.ThumbnailFile" />
                <img src="@picturesUrl/@Model.MovieFolder/@Model.ThumbnailFile" />
            </picture>
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Sinopsis)
        </td>
    </tr>
</table>

@if (Model.MovieFiles.Count() > 1)
{
    <h3>Files (@Model.MovieFiles.Count())</h3>

    <table>
        @foreach (var fileName in Model.MovieFiles)
        {
            <tr>
                <td>
                    <a href="javascript:playMovie('@Model.MovieFolder', '@fileName')" target="_blank">@fileName</a>
                </td>
            </tr>
        }
    </table>
}