@using System.Configuration
@model UMovies.Web.Models.MovieViewModel

@{
    ViewBag.Title = "Show";
}

<h2>@Model.Name <span class="badge">@Model.Year</span></h2>

@if (Model.MovieFiles.Count() == 1)
{
    <input type="button" value="Play Movie" onclick="javascript:playMovie('@Model.MovieFolder', '@Model.MovieFiles.FirstOrDefault()')" class="btn btn-default btn-success" />
}
else
{
    <input type="button" value="Play All Files (@Model.MovieFiles.Count())" onclick="javascript:playAllMovieFiles(@Model.Id)" class="btn btn-default btn-success" />
}
<br />
<br />

@{
    var picturesUrl = ConfigurationManager.AppSettings["PicturesUrl"];
}

<table class="table table-responsive">
    <tr>
        <td style="text-align: center">
            <picture>
                <source src="@picturesUrl/@Model.MovieFolder/@Model.ThumbnailFile" />
                <img src="@picturesUrl/@Model.MovieFolder/@Model.ThumbnailFile" class="img-responsive"/>
            </picture>
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(modelItem => Model.Sinopsis)
        </td>
    </tr>
</table>

@if (Model.MovieFiles.Count > 1)
{
    <h3>Files (@Model.MovieFiles.Count())</h3>


    <table class="table table-striped">
        <tr>
            <th>
                #
            </th>
            <th>
                Name
            </th>
        </tr>
        @{
            var i = 1;
        }
        @foreach (var fileName in Model.MovieFiles)
        {
            <tr>
                <td>@i.ToString()</td>
                <td><a href="javascript:playMovie('@Model.MovieFolder', '@fileName')" target="_blank">@fileName</a></td>
            </tr>
            i += 1;
        }
    </table>
}