@model UMovies.Web.Models.SearchViewModel

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.SearchText, new { htmlAttributes = new { @class = "form-control", placeholder = "Search Title", id = "searchTextBox" } })
                @Html.ValidationMessageFor(model => model.SearchText, "", new { @class = "text-danger" })
            </div>
        </div>

        @if (Model.ResultCount == 0)
        {
            <p>Searching over @Model.MediaCount media files</p>
        }
    </div>
}

@if (Model.ResultCount > 0)
{
    <p>@Model.ResultCount Results for '@Model.SearchText'</p>

    <table class="table table-striped">
        <tr>
            <th>
                #
            </th>
            <th>
                Name
            </th>
        </tr>
        @{
            var i = 1;
        }
        @foreach (var movie in Model.Movies)
        {
            <tr>
                <td>@i.ToString()</td>
                <td>@Html.ActionLink(movie.Name, "Show", "Home", new { id = movie.Id }, null)</td>
            </tr>
            i += 1;
        }
    </table>
}

@section scripts
{
    document.getElementById("searchTextBox").focus();
}